<h1 id='center'>Pet Adoption</h1>
<form class="center" action='/pets/new' method='GET'>
  <button type='submit'>Add New Pet</button>
</form>
<ul>
  {{#each petList}}
    <li>
      <img src='{{imgUrl}}' alt='pet image' />
      <div class='alignItems'>
        <h2>{{petName}}</h2>
        <a href='/pets/{{petId}}'>View Pet</a>
        <a href='/pets/edit/{{petId}}'>Edit Pet</a>
        <br />
        <form action='/pets/delete/{{petId}}' method='POST'>
          <button type='submit'>Delete Pet</button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>
